@charset "UTF-8";

$simditor-button-height: 30px;
$simditor-button-width: 30px;

.simditor {
  position: relative;
  .simditor-wrapper {
    position: relative;
    background: #ffffff;
    & > textarea {
      display: none !important;
      width: 100%;
      box-sizing: border-box;
      font-family: monaco;
      font-size: 16px;
      line-height: 1.6;
      border: none;
      padding: 22px 15px 40px;
      min-height: 300px;
      outline: none;
      background: transparent;
      resize: none;
    }
    .simditor-placeholder {
      display: none;
      position: absolute;
      left: 0;
      z-index: 0;
      padding: 20px 15px;
      color: #999999;
      background: transparent;
    }
    &.toolbar-floating {
      .simditor-toolbar {
        position: fixed;
        top: 0;
        z-index: 10;
        box-shadow: 0 0 6px rgba(0,0,0,0.1);
      }
    }
    .simditor-image-loading {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;

      .progress {
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.4);
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }
  .simditor-toolbar {
    border-bottom: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee;
    padding-bottom:6px;
    padding-top:6px;
    background: #ffffff;
    width: 100%;
    & > ul {
      margin: 0;
      padding: 0 0 0 6px;
      list-style: none;
      & > li {
        position: relative;
        display: inline-block;
        font-size: 0;
        & > span.separator {
          display: inline-block;
          background: #cfcfcf;
          width: 1px;
          height: 16px;
          margin: ($simditor-button-height - 18px) / 2 10px;
          vertical-align: middle;
        }
        & > .toolbar-item {
          display: inline-block;
          width: $simditor-button-width;
          height: $simditor-button-height;
          margin-right: 4px;
          border-radius: 2px;
          outline: none;
          color: #333333;
          font-size: 14px;
          line-height: $simditor-button-height;
          vertical-align: middle;
          text-align: center;
          text-decoration: none;
          span {
            opacity: 0.6;
            &.simditor-icon {
              display: inline;
              line-height: normal;
            }
          }
          &:hover{
            background-color: #eeeeee;
            span {
              opacity: 1;
            }
          }
          &.active {
            background: #eeeeee;
            span {
              opacity: 1;
            }
          }
          &.disabled {
            cursor: default;
            span {
              opacity: 0.3;
            }
          }
          &.toolbar-item-title {
            span:before {
              content: "H";
              font-size: 19px;
              font-weight: bold;
              font-family: 'Times New Roman';
            }
            &.active-h1 span:before {
              content: 'H1';
              font-size: 18px;
            }
            &.active-h2 span:before {
              content: 'H2';
              font-size: 18px;
            }
            &.active-h3 span:before {
              content: 'H3';
              font-size: 18px;
            }
          }
          &.toolbar-item-image {
            position: relative;
            overflow: hidden;
            & > input[type=file] {
              position: absolute;
              right: 0px;
              top: 0px;
              opacity: 0;
              font-size: 100px;
              cursor: pointer;
            }
          }
        }
        &.menu-on {
          .toolbar-item {
            position: relative;
            z-index: 20;
            background: #ffffff;
            box-shadow: 0 1px 4px rgba(0,0,0,0.3);
            span {
              opacity: 1;
            }
          }
          .toolbar-menu {
            display: block;
          }
        }
      }
    }
    .toolbar-menu {
      display: none;
      position: absolute;
      top: $simditor-button-height;
      left: 0;
      z-index: 21;
      background: #ffffff;
      text-align: left;
      box-shadow: 0 0 4px rgba(0,0,0,0.3);
      &:before {
        content: '';
        display: block;
        width: $simditor-button-width;
        height: 4px;
        background: #ffffff;
        position: absolute;
        top: -3px;
        left: 0;
      }
      ul {
        min-width: 100px;
        list-style: none;
        margin: 0;
        padding: 6px 1px;
        & > li {
          .menu-item {
            display: block;
            font-size:14px;
            line-height: 2;
            padding: 0 10px;
            text-decoration: none;
            color: #666666;
            &:hover {
              background: #f6f6f6;
            }
            &.menu-item-h1 {
              font-size: 24px;
              color: #333333;
            }
            &.menu-item-h2 {
              font-size: 22px;
              color: #333333;
            }
            &.menu-item-h3 {
              font-size: 20px;
              color: #333333;
            }
            &.menu-item-h4 {
              font-size: 18px;
              color: #333333;
            }
            &.menu-item-h5 {
              font-size: 16px;
              color: #333333;
            }
          }
          .separator {
            display: block;
            border-top: 1px solid #cccccc;
            height: 0;
            line-height: 0;
            font-size: 0;
            margin: 6px 0;
          }
        }
      }
      &.toolbar-menu-color {
        width: 96px;
        .color-list {
          height: 40px;
          margin: 10px 6px 6px 10px;
          padding: 0;
          min-width: 0;
          li {
            float: left;
            margin: 0 4px 4px 0;
            .font-color {
              display: block;
              width: 16px;
              height: 16px;
              background: #dfdfdf;
              border-radius: 2px;
              &:hover {
                opacity: 0.8;
              }
              &.font-color-default {
                background: #333333;
              }
            }
            $font-colors: #E33737 #e28b41 #c8a732 #209361 #418caf #aa8773 #999999;
            $i: 1;
            @each $color in $font-colors {
              .font-color-#{$i} {
                background: $color;
              }
              $i: $i + 1;
            }
          }
        }
      }
      &.toolbar-menu-table {
        .menu-create-table {
          background: #ffffff;
          padding: 1px;
          table {
            border: none;
            border-collapse: collapse;
            border-spacing: 0;
            table-layout: fixed;
            td {
              padding: 0;
              cursor: pointer;
              &:before {
                width: 16px;
                height: 16px;
                border: 1px solid #ffffff;
                background: #f3f3f3;
                display: block;
                content: ''
              }
              &.selected:before {
                background: #cfcfcf;
              }
            }
          }
        }
        .menu-edit-table {
          display: none;

          ul {
            li {
              white-space: nowrap;
            }
          }
        }
      }
      &.toolbar-menu-image {
        .menu-item-upload-image {
          position: relative;
          overflow: hidden;
          input[type=file] {
            position: absolute;
            right: 0px;
            top: 0px;
            opacity: 0;
            font-size: 100px;
            cursor: pointer;
          }
        }
      }
      &.toolbar-menu-alignment {
        width: 100%;
        ul {
          min-width: 100%;
        }
        .menu-item {
          text-align: center;
        }
      }
    }
  }
  //****自己刚添加的部分
  .simditor-body,.simditor-placeholder{
    margin-top:80px;
  }
  .simditor-body {
    padding: 20px 15px;
    min-height: 440px;
    max-height: 500px;
    overflow-y: scroll;
    outline: none;
    cursor: text;
    position: relative;
    z-index: 1;
    background: transparent;

    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #ddd;
    }
    &::-webkit-scrollbar-track {
      border:1px solid #eee;
    }
    a.selected {
      background: #b3d4fd;
    }
    a.simditor-mention {
      cursor: pointer;
    }
    .simditor-table {
      position: relative;

      &.resizing {
        cursor: col-resize;
      }

      .simditor-resize-handle {
        position: absolute;
        left: 0;
        top: 0;
        width: 10px;
        height: 100%;
        cursor: col-resize;
      }
    }
    pre {
      /*min-height: 28px;*/
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      word-wrap: break-word!important;
      white-space: pre-wrap!important;
    }
    img {
      cursor: pointer;
      &.selected {
        box-shadow: 0 0 0 1px #cccccc;
      }
    }
  }
  .simditor-paste-bin {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 1px;
    height: 20px;
    font-size: 1px;
    line-height: 1px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    opacity: 0;
    -webkit-user-select: text;
  }
  .simditor-popover {
    display: none;
    padding: 5px 8px 0;
    background: #ffffff;
    box-shadow: 0 1px 4px rgba(0,0,0,0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 2;
    .settings-field {
      margin: 0 0 10px 0;
      font-size: 12px;
      height: 25px;
      line-height: 25px;
      label {
        display: inline-block;
        margin: 0 5px 0 0;
      }
      input[type=text] {
        display: inline-block;
        width: 200px;
        outline: none;
        padding:5px;
        border-radius: 2px;
        border:1px solid #ddd;
        box-sizing: border-box;
        font-size: 12px;
        &:focus{
          border-color:orange;
        }
        &.image-size {
          width: 83px;
        }
      }
      .times {
        display: inline-block;
        width: 26px;
        font-size: 12px;
        text-align: center;
      }
    }
    &.link-popover .btn-unlink,
    &.image-popover .btn-upload,
    &.image-popover .btn-restore {
      display: inline-block;
      margin: 0 0 0 5px;
      color: #333333;
      font-size: 14px;
      outline: 0;
      span {
        opacity: 0.6;
      }
      &:hover span {
        opacity: 1;
      }
    }
    &.image-popover .btn-upload {
      position: relative;
      display: inline-block;
      overflow: hidden;
      vertical-align: middle;
      input[type=file] {
        position: absolute;
        right: 0px;
        top: 0px;
        opacity: 0;
        height: 100%;
        width: 28px;
      }
    }
  }
  &.simditor-mobile {
    .simditor-wrapper.toolbar-floating .simditor-toolbar {
        position: absolute;
        top: 0;
        z-index: 10;
        box-shadow: 0 0 6px rgba(0,0,0,0.1);
    }
  }
}
