//这是编辑器的样式
.simditor .simditor-body, .editor-style, .simditor-article{
  color: #333;
  outline: none;
  word-wrap: break-word;
  & > :first-child {
    margin-top: 0!important;
  }
  a{ color: #4298BA; text-decoration: none; word-break: break-all;}
  a:visited{ color: #4298BA; }
  a:hover{
    color: #0F769F;
    text-decoration: underline;
  }
  a:active{ color:#9E792E; }
  a:hover, a:active{ outline: 0; }
  h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    margin: 20px 0 10px;
    color: #000000;
  }
  h1 { font-size: 24px; }
  h2 { font-size: 22px; }
  h3 { font-size: 20px; }
  h4 { font-size: 18px; }
  h5 { font-size: 16px; }
  h6 { font-size: 16px; }
  p, div {
    word-wrap: break-word;
    margin: 0 0 15px 0;
    color: #333;
    word-wrap: break-word;
  }
  b, strong {
    font-weight: bold;
  }
  i, em {
    font-style: italic;
  }
  u {
    text-decoration: underline;
  }
  strike, del {
    text-decoration: line-through;
  }
  ul, ol {
    list-style:disc outside none;
    margin: 15px 0;
    padding: 0 0 0 40px;
    line-height: 1.6;
    ul, ol {
      padding-left: 30px;
    }
    ul {
      list-style: circle outside none;
      ul {
        list-style: square outside none;
      }
    }
  }
  ol {
    list-style:decimal;
  }
  blockquote {
    border-left: 6px solid #ddd;
    padding: 5px 0 5px 10px;
    margin: 15px 0 15px 15px;
    & > :first-child {
      margin-top: 0;
    }
    p{
      color: #999;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  code {
    display: inline-block;
    padding: 0 4px;
    margin: 0 5px;
    background: #eeeeee;
    border-radius: 3px;
    font-size: 13px;
    font-family: 'monaco', 'Consolas', "Liberation Mono", Courier, monospace;
  }
  pre {
    padding: 10px 5px 10px 10px;
    margin: 15px 0;
    display: block;
    line-height: 18px;
    background: #F0F0F0;
    border-radius: 3px;
    font-size:13px;
    font-family: 'monaco', 'Consolas', "Liberation Mono", Courier, monospace;
    white-space: pre;
    word-wrap: normal;
    overflow-x: auto;
    code {
      display: block;
      padding: 0;
      margin: 0;
      background: none;
      border-radius: 0;
    }
  }
  hr {
    display: block;
    height: 0px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 15px 0;
    padding: 0;
  }
  table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 15px 0;
    thead {
      background-color: #f9f9f9;
    }
    td, th {
      min-width: 40px;
      height: 30px;
      border: 1px solid #eee;
      vertical-align: middle;
      padding: 2px 4px;
      text-align: left;
      box-sizing: border-box;
    }
  }
  img {
    height:auto;
    max-width:100%;
    margin: 0 5px;
    vertical-align: middle;
  }
}
